
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@*<form>
    <input type="radio" id="Repair" name="Problem" value="Repair">
    <label for="Repair">Repair</label><br>
    <input type="radio" id="Replacement" name="Problem" value="Replacement">
    <label for="Replacement">Replacement</label><br>
    <input type ="button" value="Submit" />
    
</form>*@
