@model ReturnMgmtClientProject.Models.View_Models.PaymentModel

@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

<h4>PaymentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Payment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestId" class="control-label"></label>
                <input asp-for="RequestId" class="form-control" />
                <span asp-validation-for="RequestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditLimit" class="control-label"></label>
                <input asp-for="CreditLimit" class="form-control" />
                <span asp-validation-for="CreditLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

