@model ComponentProcessingAPIProject.Test.view_model.ProcessRequest

@{
    ViewData["Title"] = "ProcessRequest";
}

<h1>ProcessRequest</h1>

<h4>ProcessRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProcessRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentType" class="control-label"></label>
                <input asp-for="ComponentType" class="form-control" />
                <span asp-validation-for="ComponentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComponentName" class="control-label"></label>
                <input asp-for="ComponentName" class="form-control" />
                <span asp-validation-for="ComponentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPriorityRequest" class="control-label"></label>
                <input asp-for="IsPriorityRequest" class="form-control" />
                <span asp-validation-for="IsPriorityRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

